replicaCount: 1

image:
  repository: <% .repository %>
  # Defaults to the chart's appVersion.
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

containerPort: <% .port %>

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 256Mi

podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
