# Don't commit real values: keep this file out of Git, or use Sealed
# Secrets or External Secrets instead.
apiVersion: v1
kind: Secret
metadata:
  name: <% .name %>
<%- if .namespace %>
  namespace: <% .namespace %>
<%- end %>
type: Opaque
stringData:
  username: change-me
  password: change-me
