apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: <% .name %>
<%- if .namespace %>
  namespace: <% .namespace %>
<%- end %>
spec:
  schedules:
    - <% quote .schedule %>
<%- if .timezone %>
  timezone: <% yaml .timezone %>
<%- end %>
  concurrencyPolicy: Forbid
  startingDeadlineSeconds: 300
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  workflowSpec:
    workflowTemplateRef:
      name: <% .template %>
